h1 {
    color: red;
}

main {
    margin: 50rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;

    .effet_parallaxe {
        margin-bottom: 40rem;
        background: url("../public/img-01.jpg") no-repeat center fixed;
        width: 90%;
        height: 30rem;
        border: solid;
        border-radius: 1rem;
    }
}